<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android">
    <item
        android:id="@+id/menu_background_music"
        android:title="배경음악"
        android:checkable="true"/>
    <item
        android:id="@+id/menu_image_shape"
        android:title="이미지 모양 선택">
        <menu>
            <group
                android:id="@+id/menu_image_shape_group"
                android:checkableBehavior="single">
                <item
                    android:id="@+id/menu_image_shape_rectangle"
                    android:title="사각형 이미지"
                    android:checked="true"
                    android:orderInCategory="1"/>
                <item
                    android:id="@+id/menu_image_shape_circle"
                    android:title="원형 이미지"
                    android:orderInCategory="2"/>
            </group>
        </menu>
    </item>
</menu>